---
import BaseLayout from "../../layouts/BaseLayout.astro";
const tags = ['arcade'];
---
<BaseLayout title="Arcade" description="Play" tags={tags}>
  <h1>Arcade</h1>
  <p>Embed your game(s) here. We can drop in a canvas or iframe later.</p>
</BaseLayout>
