---
import BaseLayout from "../layouts/BaseLayout.astro";
const tags = ['band', 'story'];
---
<BaseLayout title="About" description="About Flush" tags={tags}>
  <h1>About</h1>
  <p>Flush is a Helsinki-based rock band building a community for vibrant punk rock fans, blending punk, grunge and metal with thought‑provoking lyrics.</p>
</BaseLayout>
