---
import HomeLayout from "../layouts/HomeLayout.astro";
import SocialFeed from "../components/SocialFeed.astro";
---
<HomeLayout title="FLUSH" description="Helsinki-based rock band. Punk/grunge/metal energy for misfits.">
  <p class="short-copy">Welcome to the Flush community.</p>
  <SocialFeed />
</HomeLayout>
