---
import HomeLayout from "../layouts/HomeLayout.astro";
import SocialFeed from "../components/SocialFeed.astro";
---
<HomeLayout title="We're all fucked" description="So let's be fucked together">
  <p class="short-copy">We are Flush, a Helsinki-based rock band</p>
  <p class="short-copy">who believes that music is a community thing and we are better off together.</p>
<SocialFeed />
</HomeLayout>
