---
import HomeLayout from "../layouts/HomeLayout.astro";
import SocialFeed from "../components/SocialFeed.astro";
---
<HomeLayout title="Welcome friend" description="We are Flush. Good to meet you.">
  <p class="short-copy">We believe that music is a community thing and we are better off together.</p>
<SocialFeed />
</HomeLayout>
