---
import HomeLayout from "../layouts/HomeLayout.astro";
import SocialFeed from "../components/SocialFeed.astro";
---
<HomeLayout title="We're all fucked so let's be fucked together" description="Welcome, friend.">
  <p class="short-copy">We are Flush, a Helsinki-based rock band who believes that music is a community thing and we are better off together.</p>
  <SocialFeed />
</HomeLayout>
