---
import HomeLayout from "../layouts/HomeLayout.astro";
import TagCloud from "../components/TagCloud.astro";
---
<HomeLayout title="WELCOME FRIEND" description="WE ARE FLUSH. PLEASURE TO MEET YOU.">
  <p class="short-copy">We believe that music is a community thing and we are happy to have you here.</p>

  <!-- Tag cloud: tweak maxTags/minSize/maxSize if you want -->
  <TagCloud maxTags={60} seed="flush" minSize={0.9} maxSize={1.9} />
</HomeLayout>
