---
import HomeLayout from "../layouts/HomeLayout.astro";
import SocialFeed from "../components/SocialFeed.astro";
---
<HomeLayout title="Welcome!" description="You are now entering the Flush community.">
  <p class="short-copy">We're all fucked so let's be fucked together.</p>
  <SocialFeed />
</HomeLayout>
