---
import HomeLayout from "../layouts/HomeLayout.astro";
import TagCloud from "../components/TagCloud.astro";
---
<HomeLayout title="Welcome friend" description="We are Flush. Pleasure to meet you.">
  <p class="short-copy">We believe that music is a community thing and we are better off together.</p>

  <!-- Tag cloud: tweak maxTags/minSize/maxSize if you want -->
  <TagCloud maxTags={60} seed="flush" minSize={0.9} maxSize={1.9} />
</HomeLayout>
