---
const handle = 'flushrocks'; // TODO: change to your real handle
---
<section aria-label="Social">
  <h2>Social</h2>
  <div class="centered">
    <a class="tag" href={`https://x.com/${handle}`} target="_blank" rel="noopener">Follow @{handle}</a>
  </div>
  <!-- X/Twitter timeline embed -->
  <div class="centered" style="margin-top:16px">
    <a class="twitter-timeline" data-theme="dark" href={`https://x.com/${handle}`}>Tweets by @{handle}</a>
  </div>
  <script async src="https://platform.twitter.com/widgets.js"></script>
</section>
