---
import { slugifyTag } from "../utils/slugifyTag";
export interface Props { tags: string[] }
const { tags = [] } = Astro.props as Props;
---
{tags.length > 0 && (
  <section aria-label="Tags">
    <h2>Tags</h2>
    <div>
      {tags.map(t => <a class="tag" href={`/tags/${encodeURIComponent(slugifyTag(t))}/`}>{t}</a>)}
    </div>
  </section>
)}
